*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  header {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.35) !important;
  }
  header * {
    transition: all 0.4s ease 0s;
  }
  .logo a {
    display: block;
    padding: 5px 0px 0px;
  }
  a.nav-btn {
    font-size: 25px;
    color: rgb(255, 255, 255);
    background: var(--uptownwebsitecolor);
    padding: 0px 8px;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    top: 9px;
    display: none !important;
  }
  .top-nav {
    float: right;
    line-height: 1.2em;
  }
  .top-nav ul {
    margin: 0px;
  }
  .top-nav li {
    display: inline-block;
    position: relative;
  }
  .top-nav > ul > li > a {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    display: block;
    padding: 29px 5px 18px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
  .top-nav > ul > li > a:hover, .top-nav li.active_nav a {
    color: rgb(255, 174, 0);
  }
  .top-nav li + li {
    margin-left: 10px;
  }